*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
    box-sizing: border-box;
  }
  body
{  display: flex;
   flex-direction: column;
   background-image: url("bg-desktop.svg");
   background-color: #7a4bc7;
   }
#main-container-div{
display: flex;
flex-direction: row;
width: 100%;
gap: 1rem;
height: 90vh;
}
#images-area-div
{
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin: 2rem;
  gap: 1rem;  
}
#logo-div{
  width: 65%;
}
#text-area-div
{
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
}
#text-head
{
  color: white;
  
}
#text-body
{
  font-size: large;
  line-height: 2rem;
  color: white;
  width: 80%;
}
#icons{
  display: flex;
  flex-direction: row;
  width: 15%;
  align-self: flex-end;
  gap: 1rem;
}
button
{
  width: 40%;
  min-height: 50px;
  background-color: white;
  border-radius: 30px;
  border-width: 0px;
  color: #7a4bc7;
  }
  button:hover
  {
    color: #7a4bc7;
    border: 1px solid white;
    transition: .5s;
  }
    .mockups
{
 width: 100%;
 }
.logo
{
  width: 60%;
}
  @media screen and (min-width:200px) and (max-width: 600px){
    #main-container-div{
        display: flex;
        flex-direction: column;
      }
.mockups
{

}
#logo-div{
  
}
#text-area-div
{
}
#images-area-div
{

}
button
{
  width: 80%;
}
br{
  display: none;
}
}